/*
 * Wii U Screenshot Drop
 * style.css
 *
 * Created by Frost on 2021-03-09
 */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body {
	text-align: center;
	
	background-image: -webkit-radial-gradient(top left, #d0e0f0, #ffffff);
}

input {
	min-height: 64px;
	font-size: 18pt;
	margin: 16px;
	/* border: 1px solid #0080ff; */
}

@media(prefers-color-scheme: dark) {
	/* dark theme to not blind people */
	body {
		background-color: #202020;
		color: #e0e0e0;
		background-image: -webkit-radial-gradient(top left, #202020, #404040);
	}
	a {
		color: #40c0ff;
	}
	a:visited {
		color: #c080ff;
	}
}
